
/*  RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

/* ICONES */
/* Les icones sont stockés dans une font flaticon */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before{
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-magnifying-glass:before { content: "\f100"; }
.flaticon-menu:before { content: "\f101"; }
.flaticon-cloudy:before { content: "\f102"; }
.flaticon-twitter:before { content: "\f103"; }
.flaticon-facebook:before { content: "\f104"; }
.flaticon-instagram:before { content: "\f105"; }
.flaticon-pinterest:before { content: "\f106"; }
.flaticon-youtube:before { content: "\f107"; }
.flaticon-linkedin:before { content: "\f108"; }


/* CLASSES REUTILISABLES */

.white-txt{
  color: white;
}

/*  MENU  */

.menu{
  background-color: rgba(0, 0, 0, 0.7);
  height: 80px;
}
.menu nav{
  width: 90%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo{
  width: 100px;
}
#titre{
  margin: 0;
  font-size: 20px;
  font-family: "Arial Black";
}
.menu-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-icons li{
  width: 40px;
  text-align: center;
  display: inline-block;
}
.menu-icons li > a{
  color: white;
  text-align: right;
}
.menu-icons > .meteo-icons{
  display: none !important; /* Sans !important, display prend la valeur deja attribué à li */
}

/*  CORP DE LA PAGE */

body, html, .container{
  height: 100%;
}
body{
  background-image: url("../img/lauzanne_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial;
}

/*  Rubriques */

.rubriques{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.rubriques a{
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 2px;
  font-size: 25px;
  color: white;
  width: 320px;
}

/*  Reseaux Sociaux */

.reseaux{
  display: none;
}

/*  DESKTOP   */

@media screen and (min-width: 992px) {

  /* MENU */

  #titre{
    margin-left: 80px;
  }
  .menu-icons li:nth-child(1){
    margin-right: 10px; /* Pour respecter l'espacement entre les icones */
  }
  .menu-icons a{
    text-decoration: none;
    text-align: left;
    max-height: 80px;
    width: 75px;
    color: white;
  }
  .menu-icons a:hover{
    color: black;
  }
  .menu-icons > .meteo-icons{
    display: block !important; /* Sans !important, la valeur de display n'est pas mise à jour */
  }

  /*  CORPS DE LA PAGE  */

  /*  Rubriques */

  .rubriques{
    flex-direction: row;
  }

  /*  Reseaux Sociaux */

  .reseaux{
    width: 60px;
    display: flex;
    flex-direction: column;
  }
  .reseaux a{
    padding: 20px;
    background-color: #007bff;
  }
  .reseaux a:hover{
    background-color: #0056b3;
    text-decoration: none;
    width: 150px;
  }

  /*  Affichage du nom du reseau au survol  */

  .reseaux a:hover:after{
    color: white;
    margin-left: 30px;
  }
  .reseaux a:nth-child(1):hover:after{
    content: 'Facebook';
  }
  .reseaux a:nth-child(2):hover:after{
    content: 'Twitter';
  }
  .reseaux a:nth-child(3):hover:after{
    content: 'Instagram';
  }
  .reseaux a:nth-child(4):hover:after{
    content: 'Pinterest';
  }
  .reseaux a:nth-child(5):hover:after{
    content: 'Youtube';
  }
  .reseaux a:nth-child(6):hover:after{
    content: 'LinkedIn';
  }
}