
#region-top img,
#region-main img{
    width: 100%;
}

.bg-grey{
    background-color: #E0E0E0;
}
.bg-white{
    background-color: #ffffff;
}

/*HEADER*/

header {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#n134 {
    padding: 20px;
    width: 50%;
    margin: auto;
}

header nav {
    height: 100%;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav li {
    margin: 0;
    width: 50%;
    list-style-type: none;
    text-decoration: none;
}

header nav a {
    box-sizing: border-box;
    display: inline-block;
    padding: 1.5em 0 1.5em 0;
    color: #37474f;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 2.5;
    margin: 0;
    width: 100%;
}
header nav a:hover {
    background: #37474f;
    color: #fff;
}

/*REGION TOP*/

/*Article-Left*/
#region-top .article-left article img{
    display: none;
}
#region-top .article-left{
    width: 100%;
    height: 350px;
    background-image: url("https://think.storage.googleapis.com/images/mm-guide-be-there-hp-hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#region-top .article-left article {
    width: 80%;
    background-color: #ff7043;
    color: white;
}
#region-top .article-left article div h1 a{
    color: white;
}

/*Article-Right*/
#region-top .article-right{
    text-align: center;
    background: #212529;
    display: flex;
}
#region-top .article-right article{
    width: 50%;
    text-align: left;
}
#region-top .article-right article:nth-child(1){
    background-color: #C62828;
}
#region-top .article-right article:nth-child(2){
    background-color: #5C6BC0;
}
#region-top .article-right div,
#region-top .article-left article,
#region-main article div{
    padding: 15px;
}
#region-top .article-right div{
    line-height: 20px;
}
#region-top .article-right article div h1 a{
    color: white;
    font-size: 15px;
}
#region-top .article-right article div ul,
#region-top .article-right article div ul li a{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    color: white;
}
#region-top .article-right article a:hover,
#region-top .article-left article a:hover{
    text-decoration: none;
}

/*REGION MAIN*/

#region-main article div ul,
#region-main article div ul li a{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    color: black;
}

/*REGION CONTACT*/

#region-sidebar{
    padding: 30px;
    background-color: black;
}
#region-sidebar form label,
#region-sidebar h1{
    display: block;
    font-weight: bold;
    color: white;
}
#region-sidebar form input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
#region-sidebar input[type=submit] {
    background-color: #5677fc;
    border-radius: 2px;
    font-weight: 500;
    padding: .45em .938em .5em;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: white;
    margin: 1em auto 0 auto;
    display: block;
    font-size: 0.9em;
}

@media screen and (min-width: 992px){
    body {
        margin: 0;
        padding: 0;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #e0e0e0;
        color: #424242;
        font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
        font-size: 1em;
        line-height: 1.6;
    }
    .container{
        width: 960px;
        margin: 0 auto;
        background-color: #F5F5F5;
    }

    .bg-white{
        background-color: #E0E0E0;
    }

    /*HEADER*/

    header {
        height: 88px;
        background-color: white;
        flex-direction: row;
        justify-content: space-around;
    }
    #n134 {
        padding: 1.1em 2.5em .9em 1em;
        height: 75px;
        width: auto;
        margin: 0;
    }
    header nav {
        height: 100%;
    }
    header nav a{
        padding: 1.5em 1.5em;
    }

    /*REGION TOP*/

    /*Article-Left*/

    #region-top .article-left article img{
        display: none;
    }
    #region-top{
        display: flex;
    }
    #region-top .article-left{
        width: 70%;
        height: auto;
    }
    #region-top .article-left article {
        width: 45%;
        margin: 250px 250px 0 0 ;
    }
    #region-top .article-left article div h1 a{
        color: white;
    }

    /*Article-Right*/
    #region-top .article-right{
        width: 30%;
        display: flex;
        flex-direction: column;
    }
    #region-top .article-right article{
        width: 100%;
    }

    /*REGION MAIN*/

    #region-main{
        width: 70%;
        background-color: #E0E0E0;
        float: left;
    }
    #region-main article{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #region-main img{
        width: 40%;
    }
    #region-main div{
        width: 60%;
    }
    /*REGION CONTACT*/

    #region-sidebar{
        width: 30%;
        height: auto;
        display: inline-block;
        background-color: #F5F5F5;
        float: right;
        vertical-align: top;
        text-align: left;
    }
    #region-sidebar form label,
    #region-sidebar h1{
        font-weight: normal;
        color: black;
    }
    #region-sidebar form input{
        height: 35px;
    }

    footer {
        clear: both;
        background-color: black;
        height: 50px;
    }
}